html {
  font-size: 100%;
}

body {
  color: #333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 50px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.header__logo img {
  width: 100px;
}

.header__hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ff2a2a;
  position: fixed;
  right: 0;
  cursor: pointer;
  z-index: 2;
}

.header__hamburger-bar {
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  z-index: 2;
  transition: 0.3s;
}

.header__hamburger-bar[data-is-open="false"]:nth-child(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.header__hamburger-bar[data-is-open="false"]:nth-child(2) {
  opacity: 0;
}

.header__hamburger-bar[data-is-open="false"]:last-child {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
