nav {
  position: fixed;
  z-index: 1;
  background-color: #ff2a2a;
  transition: 0.3s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

nav[data-is-open="false"] {
  opacity: 0;
  z-index: -1;
}

.header__hamburger-logo {
  position: absolute;
  top: 40px;
  left: 50px;
}

.header__hamburger-logo img {
  width: 100px;
}

.header__hamburger-items {
  text-align: center;
  margin-top: 80px;
  line-height: 150%;
  font-weight: bold;
}

.header__hamburger-items ul li {
  margin-bottom: 20px;
}

.header__hamburger-item a {
  color: white;
}

.header__hamburger-cv {
  margin-top: 60px;
}

.header__hamburger-cv a {
  position: relative;
  color: white;
  border: 1px solid white;
  padding: 20px 50px;
}

.header__hamburger-cv a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
