.reason {
  margin-top: 170px;
}

.reason__title {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  line-height: 150%;
  position: relative;
}

.reason__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #333333;
  position: absolute;
  left: calc(50% - 50px);
  bottom: 0px;
}

.reason__contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #ff2a2a;
  padding: 80px 0px;
  margin-top: 100px;
}

.reason__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: white;
  border-radius: 0px 30px 30px 0px;
  width: 50%;
  padding: 71.25px 0px;
}

.reason__icon img {
  height: 60px;
}

.reason__left-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 150%;
  color: #ff2a2a;
}

.reason__left-text {
  font-size: 18px;
  line-height: 150%;
}

.reason__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: white;
  border-radius: 30px 0px 0px 30px;
  width: 50%;
  padding: 71.25px 0px;
  margin: 0 0 0 auto;
}

.reason__right-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 150%;
  color: #ff2a2a;
}

.reason__right-text {
  font-size: 18px;
  line-height: 150%;
}
